.modal-header {
  background-color: #646264;
  color: #DFA000;
}

.modal-body {
  background-color: #F2EBE4;
  color: #646264;
}

.btn.update {
  display: block;
  width: 85%;
  float: right;
  background-color: #646264;
  color: #DFA000;
  font-weight: bold;
}
.btn.update:hover {
  display: block;
  width: 85%;
  float: right;
  background-color: #3D3B3D;
  color: #F9D31A;
  font-weight: bold;
}
.btn-modal {
  display: block;
  width: 100%;
  background-color: #DFA000;
  color: #3D3B3D;
  font-weight: bold;
}
@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}
