
.register:hover {
  background-color:#36b051;
  color:#fff;
  }

  .card-horizontal {
    width: 100%;
    padding: 0px;
    display: flex;
    flex: 1 1 auto;
  }

  .btn.collapse{
    background-color: #3D3B3D;
    color: #DFA000;
    font-weight: bold;
  }
  .body {
    width: 100%;
  }
  .card-header, h2 {
    display: inline;
    color: #3D3B3D;
    font-weight: bold;
  }
  .btn-form {
    display: block;
    width: 100%;
    background-color: #DFA000;
    color: #3D3B3D;
    font-weight: bold;
  }
  .btn-head {
    display: inline;
    background-color: #3D3B3D;
    color: #DFA000;
    font-weight: bold;
  }
  .btn-head:hover {
    display: inline;
    background-color: #646264;
    color: #F9D31A;
    font-weight: bold;
  }

  .btn-block {
    background-color: #3D3B3D;
    color: #DFA000;
    font-weight: bold;
  }
  .btn-block:hover {
    background-color: #646264;
    color: #DFA000;
    font-weight: bold;
  }

  .userUploadedPic {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .updateMiddle {
    transition: .5s ease;
    opacity: 0;
    float: left;
    top: 50%;
    left: 50%;
    text-align: center;
    padding-left: 50px;
  }

  .imagecontainer:hover .userUploadedPic {
    opacity: 0.3;
  }

  .imagecontainer:hover .updateMiddle {
    opacity: 1;
  }

  .userpage {
    background-color: #F2EBE4;
  }

  .btn.disable {
    display: block;
    width: 95%;
    float: right;
    background-color: #646264;
    color: #DFA000;
    font-weight: bold;
  }
  .btn.disable:hover {
    display: block;
    width: 95%;
    float: right;
    background-color: #3D3B3D;
    color: #F9D31A;
    font-weight: bold;
  }
  @media (max-width: 768px) {
    .btn-responsive {
      padding:2px 4px;
      font-size:80%;
      line-height: 1;
    }
  }

  @media (min-width: 769px) and (max-width: 992px) {
    .btn-responsive {
      padding:4px 9px;
      font-size:90%;
      line-height: 1.2;
    }
  }
