.card {
  padding: 0px;
}
.card-horizontal.medium, .card-horizontal.large {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
}
.medium, .large, img {
  display: flex;
  float: left;
}
span {
  color: #3D3B3D;
  font-weight: bold;
}
span.tool-name {
  float: left;
}
.stars {
  float: left;
  vertical-align: top;
}
.cost {
  float: right;
}
.year-made, .medium, .large {
  float: right;
}
.condition, .medium, .large {
  float: left;
}
.owner {
  float: left;
}

.reviewer-name {
  color: #dfa000;
}

.col-sm-12 {
  padding: 0px;
}

#listToolRentals .card-body{
  background-color: #F2EBE4;
  color:#3D3B3D;
}

#listToolRentals .card-header{
  background-color: #3D3B3D;
}

.card-text, .condition, .year-made {
  color:#3D3B3D;
  font-weight: bold;
}
@media only screen and (min-width: 601px) {
  .card.responsive-horizontal {
    display: flex;
  }
  .card.responsive-horizontal.small .card-image {
    height: 100%;
    max-height: none;
    overflow: visible;
  }
  .card.responsive-horizontal.small .card-image img {
    max-height: 100%;
    width: 100%;
  }
  // .card.responsive-horizontal .card-image {
  //   max-width: 50%;
  // }
  .card.responsive-horizontal .card-image img {
    border-radius: 2px 0 0 2px;
    width: auto;
    max-width: 100%;
  }
  .card.responsive-horizontal .card-stacked {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .card.responsive-horizontal .card-stacked .card-content {
    flex-grow: 1;
  }
}
