.confirmation-page {
  background: #646264;
}
.confirm {
  color: #3D3B3D;
}
.card, .card-body {
  width: 100%;
  align-items: center;
  justify-content: center;
}
.img-thumbnail {
  height: 300px;
  width: 300px;
}
.card-header, .card-footer {
  width: 100%;
  text-align: center;
}
h3 {
  align-items: center;
  justify-content: center;
}
.card-header {
  background-color: #dfa000;
}
.card-body {
  color: #3D3B3D;
  font-weight: bold;
  text-align: center;
}
.card-footer {
  background-color: #dfa000;
  padding: 5px;
}
.footer {
  color: #f2ebe4 !important;
}
.footer:hover {
  color: #646264 !important;
}
.card {
  border-color: #3D3B3D;
  background-color: #f2ebe4;

}


